/* import font*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;700;800;900&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap");
@import url("./media.css");

/* statups */
*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

/* reusability */
li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

section .section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.589rem;
  position: relative;
  color: #313131;
  display: inline-block;
}

section .section-title::after {
  position: absolute;
  content: "";
  bottom: -30%;
  left: 0%;
  width: 30%;
  height: 8px;
  background: rgba(226, 13, 13, 0.6) !important;
}

.btn {
  padding: 0.589rem 0.68rem !important;
  outline: none !important;
  border-radius: 5px !important;
}

.order-btn {
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff !important;
  width: 160px !important;
  height: 43px !important;
}

.navbar {
  background-color: #ffede7;
  padding: 2rem 0rem !important;
  transition: 0.3s ease;
}

.navbar-brand {
  letter-spacing: 3px;
  color: #000000;
}

.navbar-brand:hover {
  color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll i {
  color: #000000;
}

.navbar-scrolled .nav-link,
.navbar-scrolled i {
  color: #7f4722;
}

.navbar-scroll .nav-link:hover {
  color: #c24244;
}

.cart {
  position: relative !important;
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff;
  padding: 0.589rem 0.68rem !important;
  outline: none !important;
  border-radius: 5px !important;
}

.cart .cart-data {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.3 ease;
}

.cart .cart-data i {
  color: #fff;
  margin-left: 52x;
  font-size: 20px;
}

.cart .count {
  position: absolute;
  right: -15%;
  top: -30%;
  background: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #000000;
  border-radius: 50%;
}

/* acroll active */
.scrolling-active {
  background-color: #ffede7;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem 0rem !important;
}

.scrolling-active .navbar-brand,
.scrolling-active .nav-link {
  color: #c24244;
  /* color: #000000; */
}

/* hero */
section.hero {
  position: relative;
  height: 70vh;
  width: 100%;
  background: radial-gradient(
    78.4% 78.4% at 50.99% 13.14%,
    rgba(255, 9, 9, 0.58) 0%,
    rgba(226, 13, 13, 0.348) 100%
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: linear-gradient(to bottom, black, rgba(36, 36, 36, 0.664));
  opacity: 0.4;
}

.hero .hero-desc {
  /* font-family: "Poppins", sans-serif !important; */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -40%);
}

.hero .hero-desc .hero--title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 70.6px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 5.2rem;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
}

/* service card */

#services .services-card {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0.899rem 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.3s;
}

#services .services-card .img-container {
  width: 40%;
  height: 100%;
  background: hsla(219, 72%, 49%, 0.55);
  position: relative;
  transition: all 0.3s ease;
  border-radius: 0.234em;
  overflow: hidden !important;
}

#services .services-card .img-container img {
  width: 100%;
  height: 100%;
}

.services-card .img-container::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.services-card .img-container:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

/* card-content */
.services-card .card-content {
  margin-top: 1rem !important;
  padding: 1rem 0.895rem;
  height: 320px;
  width: 60%;
  background: rgb(254, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  border-top-right-radius: 0.34em;
}

.services-card .card-content .service-name {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  color: #000000 !important;
}

.services-card .card-content .desc {
  color: #2e2e2e;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 2rem;
}

.services-card .card-content .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-card .card-content .label .price {
  color: #c24244;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1px;
}

/* car body */
.work-pattern {
  width: 100%;
  height: 90vh;
  background: rgb(255, 237, 231);
}

.work-pattern .car-skeleton {
  margin: 2rem 0;
  height: 600px;
}

.car-skeleton .car-body {
  width: 432px;
  height: 600px;
}

.car-skeleton .car-body img {
  width: 80%;
  height: 100%;
}

/* leftt section */
.left-side .left-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin: 5px 0;
}

.left-side .left-content-wrapper .desc-wrapper a,
.right-side .right-content-wrapper .desc-wrapper a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  transition: 0.246s ease-in;
  text-transform: uppercase;
}

.left-side .left-content-wrapper .desc-wrapper p,
.right-side .right-content-wrapper .desc-wrapper p {
  font-size: 15px;
  color: #adadad;
  margin-top: 13px;
}

.left-side .left-content-wrapper .number-wrapper {
  position: absolute;
  right: -10%;
  top: -10%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(238, 103, 100);
  line-height: 3em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.246s ease-in;
}

.left-side .left-content-wrapper:hover .desc-wrapper a,
.right-side .right-content-wrapper:hover .desc-wrapper a {
  color: rgb(238, 103, 100);
}

.left-side .left-content-wrapper .number-wrapper .number,
.right-side .right-content-wrapper .number-wrapper .number {
  font-size: 19px;
  font-weight: 600;
}

.left-side .left-content-wrapper:hover .number-wrapper,
.right-side .right-content-wrapper:hover .number-wrapper {
  background-color: #fff;
  border: 1px solid rgb(238, 103, 100);
}

.left-side .left-content-wrapper:hover .number,
.right-side .right-content-wrapper:hover .number {
  color: rgb(238, 103, 100);
}

/* right */
.right-side .right-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin: 5px 0;
}

.right-side .right-content-wrapper .number-wrapper {
  position: absolute;
  left: -10%;
  top: -10%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(238, 103, 100);
  line-height: 3em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.246s ease-in;
}

/* about section */
#about .about-card {
  position: relative;
  width: 100%;
  height: 250px;
  background: rgb(255, 237, 231);
  margin: 1.59rem 0;
  border-radius: calc(40 * 1px) 0 0 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.234s ease-in-out;
}

#about .about-card .about-card-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 190px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: calc(40 * 1px) 0 0 0;
  transition: all 0.234s ease-in-out;
  overflow: hidden;
  text-align: right;
  padding: 1rem 0.39rem 0 0;
}

.about-card .about-card-desc h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.about-card .about-card-desc p {
  font-size: 15px;
  color: #adadad;
  margin-top: 13px;
}

#about .about-card:hover .about-card-desc {
  height: 230px;
}

/* ctc */
section.banner {
  height: 80vh;
  width: 100%;
  background-image: url("../img/demo3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.banner .ctc-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.8em;
}

section.banner .video-ads {
  position: absolute;
  width: 350px;
  height: 350px;
  background: #6b55f2;
  color: #fff;
}

/* ambition */
#ambition .about-card {
  width: 400px;
  height: 256px;
  background: #d0d3d4;
  margin: 0.59rem 0rem;
  border-top-left-radius: 0.79rem;
  border-top-right-radius: 0.79rem;
}

/* download sec */
section.dwn-sec {
  height: 25vh;
  width: 100%;
  background: #6b55f2;
}

/* footer */
#footer {
  width: 100%;
  height: 40vh;
  background: #000;
}

/* ================= Product Listing page  ============================== */
.product-list {
  width: 100%;
}

.product-list h1 {
  margin-top: 2.3em !important;
}

/* ambition */
.product-list .product-card {
  max-width: 390px;
  height: 550px;
  background: rgb(254, 248, 248) !important;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  margin-top: 2rem;
}

.product-card .product-card-img {
  max-width: 100%;
  min-height: 350px;
  background: #d0d3d4;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden !important;
  position: relative !important;
  cursor: pointer;
}

.product-card .product-card-img img {
  position: absolute;
  max-width: 100%;
  min-height: 300px;
}

.product-card .product-card-img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.product-card .product-card-img:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.product-card .product-card-desc {
  width: 100% !important;
  height: 100% !important;
  padding: 1rem 1.895rem !important;
}

.product-card .product-card-desc .product-name {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000 !important;
}

.product-card .product-card-desc .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem !important;
}

.product-card .product-card-desc .desc {
  color: #2e2e2e;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 2rem;
}

.product-card .product-card-desc .label .price {
  color: #c24244;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1px;
}

/* ================= Product Listing page  ============================== */

/* ================= Product details page  ============================== */
section.hero1 {
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: url("../img/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

section.hero1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.19em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5rem !important;
}

section.hero1 .breadcrumb {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}

section.hero1 .breadcrumb li,
section.hero1 .breadcrumb li a {
  color: #fff !important;
}

.product-detail .left-side {
  max-height: 650px !important;
  padding: 0 !important;
}

.product-detail .left-side .img-wrapper {
  width: 86%;
  height: 100% !important;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.product-detail .left-side .img-wrapper img {
  width: 100% !important;
  height: 100% !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.product-detail .left-side .img-wrapper:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.product-detail .right-side .product-title {
  font-size: 31.2px;
  font-family: "Montserrat", sans-serif;
  color: #393939;
  font-weight: 700;
  text-transform: uppercase;
}

.product-detail .right-side .price {
  font-size: 31.2px;
  font-family: "Montserrat", sans-serif;
  color: #c24244;
  font-weight: 700;
}

.product-detail .right-side .desc {
  margin: 1.5rem 0;
  font-size: 13px;
  color: #888888;
  line-height: 1.459rem;
}
/* ================= Product details page  ============================== */

/* ================= cart page  ============================== */
.cart-detail .table thead {
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff;
  padding: 2.45rem 0 !important;
}

.cart-detail .table thead th {
  padding: 1.555rem 1rem !important;
  font-weight: 400 !important;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.cart-detail .table tbody td {
  padding: 1.05rem 1rem !important;
  font-weight: 400 !important;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.cart-detail .table tbody td .img-wrapper {
  display: block;
  height: 70px;
  width: 70px;
  background: #2e2e2e;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.cart-detail .table .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-detail .table .product-name {
  width: fit-content !important;
}

.cart-detail .table .price {
  font-weight: 500 !important;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.coupon-form .form-control {
  width: 250px;
  height: 50px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 26.37px !important;
  text-transform: uppercase;
}

.coupon-form .btn {
  width: 200px;
  height: 50px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 26.37px !important;
  text-transform: uppercase;
}

.coupon-form .form-control:focus,
.coupon-form .form-control:active {
  outline: none;
  box-shadow: none;
}

.cart-detail .checkout {
  display: flex;
  justify-content: flex-end;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.cart-detail .checkout .chechout-btn {
  height: 50px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 26.37px !important;
  text-transform: uppercase;
  font-size: 13.66px !important;
}
/* ================= cart page  ============================== */

/* ================= checkout page  ============================== */

.billig-details h4 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 27.45px;
  text-transform: uppercase;
}

.billig-details form {
  font-family: "Montserrat", sans-serif !important;
}

.billig-details form label {
  margin: 0.423rem 0;
}

.billig-details form input,
.billig-details form select {
  border-radius: 0.235em;
  height: 45px;
  padding: 0 1.34rem;
}

.billig-details form input::placeholder {
  text-transform: uppercase;
}

.billig-details form select option {
  padding: 2rem 0 !important;
}

.billig-details form input:focus,
.billig-details form input:active {
  box-shadow: none;
  outline: none;
}

.billig-details form select:focus,
.billig-details form select:active {
  box-shadow: none;
  outline: none;
}

.billig-details .password {
  display: none;
  transition: all 0.3s ease;
}

.billig-details .password.active {
  display: block;
}

.payment-details .chechout-btn {
  height: 60px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-size: 15.66px !important;
}
/* ================= checkout page  ============================== */

/* 404 PAGE NOT FOUND */
body .page_not_found,
body .thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif !important;
  color: #282a2b;
  background: #ffede7;
}

.page_not_found .svg {
  width: 900px;
}
.page_not_found .svg__character {
  fill: #06038d;
}
.page_not_found .svg__line {
  fill: none;
  stroke: #c6007e;
  stroke-dasharray: 6;
  stroke-width: 1;
  stroke-linejoin: round;
}
.page_not_found .svg__dot {
  fill: #c6007e;
}
.page_not_found .svg__plane {
  transform: translate(-6px, -11px) rotate(25deg);
  fill: #c6007e;
}
.page_not_found .svg__mask {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
}

.page_not_found .text {
  font-family: "Montserrat", sans-serif !important;
  font-size: 28.33px;
  font-weight: 600;
  text-transform: capitalize;
  color: #06038d;
}

:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #06038d;
}

.page_not_found .btn,
.thank-you .btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 15px 50px !important;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}

.page_not_found .btn:active,
.page_not_found .btn:focus {
  box-shadow: none;
  outline: none;
}

.page_not_found .btn.green,
.thank-you .btn.green {
  border: 4px solid var(--green);
  color: var(--blue);
}
.page_not_found .btn.green:before,
.thank-you .btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  transition: 0.2s ease;
}
.page_not_found .btn.green:hover,
.thank-you .btn.green:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}
.page_not_found .btn.green:hover:before,
.thank-you .btn.green:hover:before {
  width: 100%;
}

/* 404 PAGE NOT FOUND */

/* thank you */
.thank-you .site-header__title {
  font-size: 3.45rem;
  font-weight: 600;
}

.thank-you i {
  font-size: 7em;
  font-weight: 800;
}

.thank-you p {
  width: 70%;
  text-align: center;
  font-size: 18.23px;
}
/* thank you */
