/* import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap");

*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

/* reusability */
li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

section .section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.589rem;
  position: relative;
  color: #000000;
}

section .section-title::after {
  position: absolute;
  content: "";
  bottom: -30%;
  left: 0;
  width: 12%;
  height: 8px;
  background: rgba(226, 13, 13, 0.6) !important;
}

.btn {
  padding: 0.589rem 0.68rem !important;
  outline: none !important;
  border-radius: 5px !important;
}

.navbar {
  background-color: #ffede7;
  padding: 2rem 0rem !important;
  transition: 0.3s ease;
}

.order-btn {
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff !important;
  width: 160px !important;
  height: 43px !important;
}

.navbar-brand {
  letter-spacing: 3px;
  /* color: #c24244; */
  color: #000000;
}

.navbar-brand:hover {
  color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll i {
  /* color: #7f4722; */
  color: #000000;
}

.navbar-scrolled .nav-link,
.navbar-scrolled i {
  color: #7f4722;
}

.cart {
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff;
  position: relative;
  padding: 0.589rem 0.68rem !important;
  outline: none !important;
  border-radius: 5px !important;
}

.cart .cart-data {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.3 ease;
}

.cart .cart-data i {
  color: #fff;
  margin-left: 52x;
  font-size: 20px;
}

.cart .count {
  position: absolute;
  right: -15%;
  top: -30%;
  background: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #000000;
  border-radius: 50%;
}

/* acroll active */
.scrolling-active {
  background-color: #ffede7;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem 0rem !important;
}

.scrolling-active .navbar-brand,
.scrolling-active .nav-link {
  color: #c24244;
  /* color: #000000; */
}

/* hero */
section.hero {
  position: relative;
  height: 90vh;
  width: 100%;
  background: radial-gradient(
    78.4% 78.4% at 50.99% 13.14%,
    rgba(255, 9, 9, 0.58) 0%,
    rgba(226, 13, 13, 0.348) 100%
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black, rgba(36, 36, 36, 0.664));
  opacity: 0.4;
}

.hero .hero-desc {
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 10;
  width: 50%;
}

.hero .hero-desc .hero--title {
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero .report {
  position: absolute;
  bottom: 5%;
  right: 2%;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.report .report-1 {
  background: rgb(226, 205, 13) !important;
  color: #fff !important;
  width: 370px !important;
  height: 43px !important;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 2rem !important;
}

.report .report-2 {
  background: rgb(131, 26, 250) !important;
  color: #fff !important;
  width: 370px !important;
  height: 43px !important;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 2rem !important;
}

/* service card */

#services .services-card {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0.59rem 0;
  background: rgba(251, 252, 252);
  display: flex;
  flex-direction: row;
}

#services .services-card .img-container {
  width: 35%;
  height: 100%;
  background: hsla(219, 72%, 49%, 0.55);
}

#about .about-card {
  width: 100%;
  height: 256px;
  background: #d0d3d4;
  margin: 0.59rem 0;
}

/* ctc */
section.banner {
  height: 50vh;
  width: 100%;
  background: radial-gradient(
    78.4% 78.4% at 50.99% 13.14%,
    #f8f8f8 0%,
    #c2c1c1f6 100%
  );
}

/* ambition */
#ambition .about-card {
  width: 100%;
  height: 256px;
  background: #d0d3d4;
  margin: 0.59rem 0;
  border-top-left-radius: 0.79rem;
  border-top-right-radius: 0.79rem;
}

/* download sec */
section.dwn-sec {
  height: 25vh;
  width: 100%;
  background: #6b55f2;
}

/* footer */
#footer {
  width: 100%;
  height: 40vh;
  background: #000;
}

/* media queries */
/* =================== Tablet ============================ */

@media only screen and (max-width: 812px) {
  .hero .hero-desc .hero--title {
    font-size: 1.89em;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .hero .report {
    position: absolute;
    bottom: 5%;
    right: 25%;
    z-index: 9;
    display: flex;
    flex-direction: column;
  }
}

/* =================== Tablet ============================ */
