/* import font*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;700;800;900&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap");
@import url("./media.css");

/* statups */
*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

/* reusability */
li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

section .section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.589rem;
  position: relative;
  color: #313131;
  display: inline-block;
}

section .section-title::after {
  position: absolute;
  content: "";
  bottom: -30%;
  left: 0%;
  width: 30%;
  height: 8px;
  background: rgba(226, 13, 13, 0.6) !important;
}

.btn {
  padding: 0.589rem 0.68rem !important;
  outline: none !important;
  border-radius: 5px !important;
}

.btn:active,
.btn:focus {
  box-shadow: none !important;
}

.order-btn {
  background: rgba(226, 13, 13, 0.9) !important;
  color: #fff !important;
  width: 160px !important;
  height: 43px !important;
}

.navbar {
  background-color: #ffede7;
  /* background: transparent; */
  padding: 2rem 0rem !important;
  transition: 0.3s ease;
  width: 100% !important;
}

.navbar-brand {
  letter-spacing: 3px;
  color: #000000;
  /* color: #fff; */
  font-weight: 500;
  font-size: 1.23rem !important;
}

.navbar-brand:hover {
  color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll i {
  color: #000000;
  /* color: #fff; */
}

.navbar-scrolled .nav-link,
.navbar-scrolled i {
  color: #7f4722;
}

.navbar-scroll .nav-link:hover {
  color: #c24244;
}

.cart {
  position: relative !important;
  background: rgba(226, 13, 13, 0.9) !important;
  color: #fff;
  padding: 0.589rem 0.68rem !important;
  outline: none !important;
  border-radius: 5px !important;
}

.cart .cart-data {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.3 ease;
}

.cart .cart-data i {
  color: #fff;
  margin-left: 52x;
  font-size: 20px;
}

.cart .count {
  position: absolute;
  right: -15%;
  top: -30%;
  background: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #000000;
  border-radius: 50%;
}

/* acroll active */
.scrolling-active {
  background-color: #ffede7;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem 0rem !important;
}

.scrolling-active .navbar-brand,
.scrolling-active .nav-link {
  color: #c24244;
  /* color: #000000; */
}

/* hero */
section.hero {
  position: relative;
  height: 70vh;
  width: 100%;
  background: radial-gradient(
    78.4% 78.4% at 50.99% 13.14%,
    rgba(255, 9, 9, 0.58) 0%,
    rgba(226, 13, 13, 0.348) 100%
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: linear-gradient(to bottom, black, rgba(36, 36, 36, 0.664));
  opacity: 0.4;
}

.hero .hero-desc {
  /* font-family: "Poppins", sans-serif !important; */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 70%;
  text-align: center;
  transform: translate(-50%, -40%);
}

.hero .hero-desc .hero--title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 50.6px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
}

/* service card */

#services .services-card {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0.899rem 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.3s;
}

#services .services-card .img-container {
  width: 40%;
  height: 100%;
  background: hsla(219, 72%, 49%, 0.55);
  position: relative;
  transition: all 0.3s ease;
  border-radius: 0.234em;
  overflow: hidden !important;
}

#services .services-card .img-container img {
  width: 100%;
  height: 100%;
}

.services-card .img-container::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.services-card .img-container:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

/* card-content */
.services-card .card-content {
  margin-top: 1rem !important;
  padding: 1rem 0.895rem;
  height: 320px;
  width: 60%;
  background: rgb(254, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  border-top-right-radius: 0.34em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.services-card .card-content .service-name {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  color: #000000 !important;
}

.services-card .card-content .desc {
  color: #2e2e2e;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 2rem;
}

.services-card .card-content .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.services-card .card-content .label .price {
  color: #c24244;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1px;
}

/* car body */
.work-pattern {
  width: 100%;
  height: 100vh;
  background: rgb(255, 237, 231);
}

.work-pattern .car-skeleton {
  margin: 2rem 0;
  height: 600px;
}

.car-skeleton .car-body {
  width: 432px;
  height: 600px;
}

.car-skeleton .car-body img {
  width: 80%;
  height: 100%;
}

/* leftt section */
.left-side .left-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin: 5px 0;
}

.left-side .left-content-wrapper .desc-wrapper a,
.right-side .right-content-wrapper .desc-wrapper a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  transition: 0.246s ease-in;
  text-transform: uppercase;
}

.left-side .left-content-wrapper .desc-wrapper p,
.right-side .right-content-wrapper .desc-wrapper p {
  font-size: 15px;
  color: #adadad;
  margin-top: 13px;
}

.left-side .left-content-wrapper .number-wrapper {
  position: absolute;
  right: -10%;
  top: -10%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(238, 103, 100);
  line-height: 3em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.246s ease-in;
}

.left-side .left-content-wrapper:hover .desc-wrapper a,
.right-side .right-content-wrapper:hover .desc-wrapper a {
  color: rgb(238, 103, 100);
}

.left-side .left-content-wrapper .number-wrapper .number,
.right-side .right-content-wrapper .number-wrapper .number {
  font-size: 19px;
  font-weight: 600;
}

.left-side .left-content-wrapper:hover .number-wrapper,
.right-side .right-content-wrapper:hover .number-wrapper {
  background-color: #fff;
  border: 1px solid rgb(238, 103, 100);
}

.left-side .left-content-wrapper:hover .number,
.right-side .right-content-wrapper:hover .number {
  color: rgb(238, 103, 100);
}

/* right */
.right-side .right-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  height: 100%;
  position: relative;
  cursor: pointer;
  margin: 5px 0;
}

.right-side .right-content-wrapper .number-wrapper {
  position: absolute;
  left: -10%;
  top: -10%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(238, 103, 100);
  line-height: 3em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.246s ease-in;
}

/* about section */
#about .about-card {
  position: relative;
  width: 100%;
  height: 280px;
  background: rgb(255, 237, 231);
  margin: 1.59rem 0;
  /* border-radius: calc(40 * 1px) 0 0 0; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.234s ease-in-out;
}

#about .about-card .about-card-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 230px;
  width: 100%;
  background: rgb(255, 255, 255);
  transition: all 0.234s ease-in-out;
  overflow: hidden;
  padding: 1rem 1.39rem 0 1rem;
}

.about-card .about-card-desc h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.about-card .about-card-desc p {
  font-size: 15px;
  color: #adadad;
  margin-top: 13px;
}

.about-card .about-card-desc .more-about {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

#about .about-card:hover .about-card-desc {
  height: 240px;
}

/* ctc */
section.banner {
  height: 30vh;
  width: 100%;
  background: rgb(255, 237, 231);
}

section.banner h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ctc2 */
section.banner2 {
  height: 65vh;
  width: 100%;
  background: rgb(17, 17, 17);
  position: relative;
}

section.banner2 .img-container {
  height: 65vh;
  background-image: url("../img/ctc2.jpg");
  background-position: 98% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

section.banner2 .banner2-desc {
  width: 40%;
  height: 100%;
  padding: 5rem 1rem 0rem 2rem !important;
}

section.banner2 .banner2-desc p {
  font-size: 13.22px !important;
  margin-top: 2rem;
}

/* ambition */
#ambition .about-card {
  width: 420px;
  height: 256px;
  background: #d0d3d4;
  margin: 0.59rem 0rem;
  border-top-left-radius: 0.79rem;
  border-top-right-radius: 0.79rem;
}

/* download sec */
section.dwn-sec {
  height: 65vh;
  width: 100%;
  background: #6b55f2;
}

/* footer */
#footer {
  width: 100%;
  height: 40vh;
  background: #000;
}

/* ================= Product Listing page  ============================== */
.product-list {
  width: 100%;
}

.product-list h1 {
  margin-top: 2.3em !important;
}

/* ambition */
.product-list .product-card {
  max-width: 390px;
  height: 550px;
  background: rgb(254, 248, 248) !important;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  margin-top: 2rem;
}

.product-card .product-card-img {
  max-width: 100%;
  min-height: 350px;
  background: #d0d3d4;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden !important;
  position: relative !important;
  cursor: pointer;
}

.product-card .product-card-img img {
  position: absolute;
  max-width: 100%;
  min-height: 300px;
}

.product-card .product-card-img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.product-card .product-card-img:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.product-card .product-card-desc {
  width: 100% !important;
  height: 100% !important;
  padding: 1rem 1.895rem !important;
}

.product-card .product-card-desc .product-name {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000 !important;
}

.product-card .product-card-desc .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem !important;
}

.product-card .product-card-desc .desc {
  color: #2e2e2e;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 2rem;
}

.product-card .product-card-desc .label .price {
  color: #c24244;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1px;
}

/* ================= Product Listing page  ============================== */

/* ================= Product details page  ============================== */
section.hero1 {
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: url("../img/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

section.hero1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.19em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5rem !important;
}

section.hero1 .breadcrumb {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}

section.hero1 .breadcrumb li,
section.hero1 .breadcrumb li a {
  color: #fff !important;
}

.product-detail .left-side {
  max-height: 650px !important;
  padding: 0 !important;
}

.product-detail .left-side .img-wrapper {
  width: 86%;
  height: 100% !important;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.product-detail .left-side .img-wrapper img {
  width: 100% !important;
  height: 100% !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.product-detail .left-side .img-wrapper:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.product-detail .right-side .product-title {
  font-size: 31.2px;
  font-family: "Montserrat", sans-serif;
  color: #393939;
  font-weight: 700;
  text-transform: uppercase;
}

.product-detail .right-side .price {
  font-size: 31.2px;
  font-family: "Montserrat", sans-serif;
  color: #c24244;
  font-weight: 700;
}

.product-detail .right-side .desc {
  margin: 1.5rem 0;
  font-size: 13px;
  color: #888888;
  line-height: 1.459rem;
}
/* ================= Product details page  ============================== */

/* ================= cart page  ============================== */
.cart-detail .table thead {
  background: rgba(226, 13, 13, 0.6) !important;
  color: #fff;
  padding: 2.45rem 0 !important;
}

.cart-detail .table thead th {
  padding: 1.555rem 1rem !important;
  font-weight: 400 !important;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.cart-detail .table tbody td {
  padding: 1.05rem 1rem !important;
  font-weight: 400 !important;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.cart-detail .table tbody td .img-wrapper {
  display: block;
  height: 70px;
  width: 70px;
  background: #2e2e2e;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.cart-detail .table .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-detail .table .product-name {
  width: fit-content !important;
}

.cart-detail .table .price {
  font-weight: 500 !important;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.coupon-form .form-control {
  width: 250px;
  height: 50px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 26.37px !important;
  text-transform: uppercase;
}

.coupon-form .btn {
  width: 200px;
  height: 50px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 26.37px !important;
  text-transform: uppercase;
}

.coupon-form .form-control:focus,
.coupon-form .form-control:active {
  outline: none;
  box-shadow: none;
}

.cart-detail .checkout {
  display: flex;
  justify-content: flex-end;
  font-size: 17.6px;
  font-family: "Montserrat", sans-serif;
}

.cart-detail .checkout .chechout-btn {
  height: 50px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 26.37px !important;
  text-transform: uppercase;
  font-size: 13.66px !important;
}
/* ================= cart page  ============================== */

/* ================= checkout page  ============================== */

.billig-details h4 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 27.45px;
  text-transform: uppercase;
}

.billig-details form {
  font-family: "Montserrat", sans-serif !important;
}

.billig-details form label {
  margin: 0.423rem 0;
}

.billig-details form input,
.billig-details form select {
  border-radius: 0.235em;
  height: 45px;
  padding: 0 1.34rem;
}

.billig-details form input::placeholder {
  text-transform: uppercase;
}

.billig-details form select option {
  padding: 2rem 0 !important;
}

.billig-details form input:focus,
.billig-details form input:active {
  box-shadow: none;
  outline: none;
}

.billig-details form select:focus,
.billig-details form select:active {
  box-shadow: none;
  outline: none;
}

.billig-details .password {
  display: none;
  transition: all 0.3s ease;
}

.billig-details .password.active {
  display: block;
}

.payment-details .chechout-btn {
  height: 60px;
  padding: 0.25rem 1.367rem !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-size: 15.66px !important;
}
/* ================= checkout page  ============================== */

/* 404 PAGE NOT FOUND */
body .page_not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif !important;
  color: #282a2b;
  background: #ffede7;
}

.page_not_found .svg {
  width: 900px;
}
.page_not_found .svg__character {
  fill: #06038d;
}
.page_not_found .svg__line {
  fill: none;
  stroke: #c6007e;
  stroke-dasharray: 6;
  stroke-width: 1;
  stroke-linejoin: round;
}
.page_not_found .svg__dot {
  fill: #c6007e;
}
.page_not_found .svg__plane {
  transform: translate(-6px, -11px) rotate(25deg);
  fill: #c6007e;
}
.page_not_found .svg__mask {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
}

.page_not_found .text {
  font-family: "Montserrat", sans-serif !important;
  font-size: 28.33px;
  font-weight: 600;
  text-transform: capitalize;
  color: #06038d;
}

:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #c6007e;
}

.page_not_found .btn,
.thank-you .btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 15px 50px !important;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}

.page_not_found .btn:active,
.page_not_found .btn:focus {
  box-shadow: none;
  outline: none;
}

.page_not_found .btn.green,
.thank-you .btn.green {
  border: 4px solid var(--green);
  color: var(--blue);
}
.page_not_found .btn.green:before,
.thank-you .btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  transition: 0.2s ease;
}
.page_not_found .btn.green:hover,
.thank-you .btn.green:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}
.page_not_found .btn.green:hover:before,
.thank-you .btn.green:hover:before {
  width: 100%;
}

/* 404 PAGE NOT FOUND */

/* thank you */
.thank-you {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffede7;
}

.thank-you .thank-you-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 630px;
  width: 490px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 1.3em;
  border-radius: 3.33px;
}

.thank-you .site-header__title {
  font-size: 2.25rem;
  font-weight: 600;
}

.thank-you i {
  font-size: 5em;
  font-weight: 800;
  color: #0e0620;
}

.thank-you p {
  width: 70%;
  text-align: center;
  font-size: 14.23px;
}

.pyro > .before,
.pyro > .after {
  z-index: 2;
  overflow-y: hidden !important;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 244px -307.6666666667px #3700ff,
      -230px -391.6666666667px #ff0084, -43px -100.6666666667px #bbff00,
      -51px -35.6666666667px #ff00ee, 124px -404.6666666667px #0033ff,
      148px -135.6666666667px #ff2600, 137px -145.6666666667px #00d5ff,
      239px -411.6666666667px #fff200, 41px -82.6666666667px #00f2ff,
      10px 65.3333333333px #ff0077, -27px 5.3333333333px #73ff00,
      -169px -359.6666666667px #ffc800, 220px -266.6666666667px #8800ff,
      -202px -217.6666666667px #00ff77, -106px -356.6666666667px #c800ff,
      -112px -27.6666666667px #09ff00, 204px -347.6666666667px #ff001e,
      -32px -112.6666666667px #00ffd0, 206px -397.6666666667px #ff7b00,
      -155px -322.6666666667px #00fbff, -114px -154.6666666667px #a6ff00,
      32px -415.6666666667px #00e6ff, 39px -327.6666666667px #ff0022,
      71px -226.6666666667px #f7ff00, 140px -139.6666666667px #ff7b00,
      -12px -354.6666666667px #0dff00, -71px -231.6666666667px #a2ff00,
      249px -115.6666666667px #00ff88, 200px -191.6666666667px #00ff09,
      118px -247.6666666667px #0055ff, -114px -71.6666666667px #ff9900,
      92px -11.6666666667px #ff008c, 219px -319.6666666667px #7300ff,
      -145px -178.6666666667px #ccff00, -84px -343.6666666667px #26ff00,
      27px -22.6666666667px #bfff00, 81px -116.6666666667px #ff8800,
      190px 4.3333333333px #0040ff, 65px -17.6666666667px #00ff48,
      -237px -235.6666666667px #bf00ff, -125px -299.6666666667px #ea00ff,
      105px -146.6666666667px #00ffd9, 123px -187.6666666667px #ff00e1,
      163px -6.6666666667px #ff00e6, 59px -229.6666666667px #ff3300,
      -104px -30.6666666667px #00ff04, -219px -257.6666666667px #ff0077,
      -242px -73.6666666667px #0084ff, -126px -367.6666666667px #ff9900,
      90px -141.6666666667px #ff0080, 130px -310.6666666667px #ff00a2;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 244px -307.6666666667px #3700ff,
      -230px -391.6666666667px #ff0084, -43px -100.6666666667px #bbff00,
      -51px -35.6666666667px #ff00ee, 124px -404.6666666667px #0033ff,
      148px -135.6666666667px #ff2600, 137px -145.6666666667px #00d5ff,
      239px -411.6666666667px #fff200, 41px -82.6666666667px #00f2ff,
      10px 65.3333333333px #ff0077, -27px 5.3333333333px #73ff00,
      -169px -359.6666666667px #ffc800, 220px -266.6666666667px #8800ff,
      -202px -217.6666666667px #00ff77, -106px -356.6666666667px #c800ff,
      -112px -27.6666666667px #09ff00, 204px -347.6666666667px #ff001e,
      -32px -112.6666666667px #00ffd0, 206px -397.6666666667px #ff7b00,
      -155px -322.6666666667px #00fbff, -114px -154.6666666667px #a6ff00,
      32px -415.6666666667px #00e6ff, 39px -327.6666666667px #ff0022,
      71px -226.6666666667px #f7ff00, 140px -139.6666666667px #ff7b00,
      -12px -354.6666666667px #0dff00, -71px -231.6666666667px #a2ff00,
      249px -115.6666666667px #00ff88, 200px -191.6666666667px #00ff09,
      118px -247.6666666667px #0055ff, -114px -71.6666666667px #ff9900,
      92px -11.6666666667px #ff008c, 219px -319.6666666667px #7300ff,
      -145px -178.6666666667px #ccff00, -84px -343.6666666667px #26ff00,
      27px -22.6666666667px #bfff00, 81px -116.6666666667px #ff8800,
      190px 4.3333333333px #0040ff, 65px -17.6666666667px #00ff48,
      -237px -235.6666666667px #bf00ff, -125px -299.6666666667px #ea00ff,
      105px -146.6666666667px #00ffd9, 123px -187.6666666667px #ff00e1,
      163px -6.6666666667px #ff00e6, 59px -229.6666666667px #ff3300,
      -104px -30.6666666667px #00ff04, -219px -257.6666666667px #ff0077,
      -242px -73.6666666667px #0084ff, -126px -367.6666666667px #ff9900,
      90px -141.6666666667px #ff0080, 130px -310.6666666667px #ff00a2;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 244px -307.6666666667px #3700ff,
      -230px -391.6666666667px #ff0084, -43px -100.6666666667px #bbff00,
      -51px -35.6666666667px #ff00ee, 124px -404.6666666667px #0033ff,
      148px -135.6666666667px #ff2600, 137px -145.6666666667px #00d5ff,
      239px -411.6666666667px #fff200, 41px -82.6666666667px #00f2ff,
      10px 65.3333333333px #ff0077, -27px 5.3333333333px #73ff00,
      -169px -359.6666666667px #ffc800, 220px -266.6666666667px #8800ff,
      -202px -217.6666666667px #00ff77, -106px -356.6666666667px #c800ff,
      -112px -27.6666666667px #09ff00, 204px -347.6666666667px #ff001e,
      -32px -112.6666666667px #00ffd0, 206px -397.6666666667px #ff7b00,
      -155px -322.6666666667px #00fbff, -114px -154.6666666667px #a6ff00,
      32px -415.6666666667px #00e6ff, 39px -327.6666666667px #ff0022,
      71px -226.6666666667px #f7ff00, 140px -139.6666666667px #ff7b00,
      -12px -354.6666666667px #0dff00, -71px -231.6666666667px #a2ff00,
      249px -115.6666666667px #00ff88, 200px -191.6666666667px #00ff09,
      118px -247.6666666667px #0055ff, -114px -71.6666666667px #ff9900,
      92px -11.6666666667px #ff008c, 219px -319.6666666667px #7300ff,
      -145px -178.6666666667px #ccff00, -84px -343.6666666667px #26ff00,
      27px -22.6666666667px #bfff00, 81px -116.6666666667px #ff8800,
      190px 4.3333333333px #0040ff, 65px -17.6666666667px #00ff48,
      -237px -235.6666666667px #bf00ff, -125px -299.6666666667px #ea00ff,
      105px -146.6666666667px #00ffd9, 123px -187.6666666667px #ff00e1,
      163px -6.6666666667px #ff00e6, 59px -229.6666666667px #ff3300,
      -104px -30.6666666667px #00ff04, -219px -257.6666666667px #ff0077,
      -242px -73.6666666667px #0084ff, -126px -367.6666666667px #ff9900,
      90px -141.6666666667px #ff0080, 130px -310.6666666667px #ff00a2;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 244px -307.6666666667px #3700ff,
      -230px -391.6666666667px #ff0084, -43px -100.6666666667px #bbff00,
      -51px -35.6666666667px #ff00ee, 124px -404.6666666667px #0033ff,
      148px -135.6666666667px #ff2600, 137px -145.6666666667px #00d5ff,
      239px -411.6666666667px #fff200, 41px -82.6666666667px #00f2ff,
      10px 65.3333333333px #ff0077, -27px 5.3333333333px #73ff00,
      -169px -359.6666666667px #ffc800, 220px -266.6666666667px #8800ff,
      -202px -217.6666666667px #00ff77, -106px -356.6666666667px #c800ff,
      -112px -27.6666666667px #09ff00, 204px -347.6666666667px #ff001e,
      -32px -112.6666666667px #00ffd0, 206px -397.6666666667px #ff7b00,
      -155px -322.6666666667px #00fbff, -114px -154.6666666667px #a6ff00,
      32px -415.6666666667px #00e6ff, 39px -327.6666666667px #ff0022,
      71px -226.6666666667px #f7ff00, 140px -139.6666666667px #ff7b00,
      -12px -354.6666666667px #0dff00, -71px -231.6666666667px #a2ff00,
      249px -115.6666666667px #00ff88, 200px -191.6666666667px #00ff09,
      118px -247.6666666667px #0055ff, -114px -71.6666666667px #ff9900,
      92px -11.6666666667px #ff008c, 219px -319.6666666667px #7300ff,
      -145px -178.6666666667px #ccff00, -84px -343.6666666667px #26ff00,
      27px -22.6666666667px #bfff00, 81px -116.6666666667px #ff8800,
      190px 4.3333333333px #0040ff, 65px -17.6666666667px #00ff48,
      -237px -235.6666666667px #bf00ff, -125px -299.6666666667px #ea00ff,
      105px -146.6666666667px #00ffd9, 123px -187.6666666667px #ff00e1,
      163px -6.6666666667px #ff00e6, 59px -229.6666666667px #ff3300,
      -104px -30.6666666667px #00ff04, -219px -257.6666666667px #ff0077,
      -242px -73.6666666667px #0084ff, -126px -367.6666666667px #ff9900,
      90px -141.6666666667px #ff0080, 130px -310.6666666667px #ff00a2;
  }
}
@keyframes bang {
  to {
    box-shadow: 244px -307.6666666667px #3700ff,
      -230px -391.6666666667px #ff0084, -43px -100.6666666667px #bbff00,
      -51px -35.6666666667px #ff00ee, 124px -404.6666666667px #0033ff,
      148px -135.6666666667px #ff2600, 137px -145.6666666667px #00d5ff,
      239px -411.6666666667px #fff200, 41px -82.6666666667px #00f2ff,
      10px 65.3333333333px #ff0077, -27px 5.3333333333px #73ff00,
      -169px -359.6666666667px #ffc800, 220px -266.6666666667px #8800ff,
      -202px -217.6666666667px #00ff77, -106px -356.6666666667px #c800ff,
      -112px -27.6666666667px #09ff00, 204px -347.6666666667px #ff001e,
      -32px -112.6666666667px #00ffd0, 206px -397.6666666667px #ff7b00,
      -155px -322.6666666667px #00fbff, -114px -154.6666666667px #a6ff00,
      32px -415.6666666667px #00e6ff, 39px -327.6666666667px #ff0022,
      71px -226.6666666667px #f7ff00, 140px -139.6666666667px #ff7b00,
      -12px -354.6666666667px #0dff00, -71px -231.6666666667px #a2ff00,
      249px -115.6666666667px #00ff88, 200px -191.6666666667px #00ff09,
      118px -247.6666666667px #0055ff, -114px -71.6666666667px #ff9900,
      92px -11.6666666667px #ff008c, 219px -319.6666666667px #7300ff,
      -145px -178.6666666667px #ccff00, -84px -343.6666666667px #26ff00,
      27px -22.6666666667px #bfff00, 81px -116.6666666667px #ff8800,
      190px 4.3333333333px #0040ff, 65px -17.6666666667px #00ff48,
      -237px -235.6666666667px #bf00ff, -125px -299.6666666667px #ea00ff,
      105px -146.6666666667px #00ffd9, 123px -187.6666666667px #ff00e1,
      163px -6.6666666667px #ff00e6, 59px -229.6666666667px #ff3300,
      -104px -30.6666666667px #00ff04, -219px -257.6666666667px #ff0077,
      -242px -73.6666666667px #0084ff, -126px -367.6666666667px #ff9900,
      90px -141.6666666667px #ff0080, 130px -310.6666666667px #ff00a2;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/* testimonial */
.testimonial {
  height: 376px;
}
.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading {
  color: #ffffff;
}
.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}
#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}
.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 200px;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/

/* contact form */

.contact-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #9ff1bea2;
}

.contact-wrapper .conatact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contact-wrapper .conatact-container .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  font-family: "Montserrat", sans-serif;
}

.contact-form input {
  width: 450px !important;
  height: 45px;
  border-radius: 0;
  background: transparent !important;
}

.contact-form input:focus,
.contact-form input:active {
  box-shadow: none;
}

.contact-form textarea {
  width: 450px !important;
  height: 140px !important;
  border-radius: 0;
  background: transparent !important;
}

.contact-form textarea:focus,
.contact-form textarea:active {
  box-shadow: none;
}

.contact-form button {
  background: #9ff1be;
  color: #fff;
  padding: 0.523rem 1.534rem !important;
  border-radius: 0 !important;
}

.contact-form button:hover {
  color: #fff;
}
/* contact form */
